In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('clean_data/ureport_country_data.csv')
df = df.drop('Unnamed: 0', axis=1)

In [3]:
barriers = ["Fear Of Violence Is A Barrier",
            "Laws Against Women Working Is A Barrier",
            "Family Responsibilities Are A Barrier",
            "Lack Of Experience Or Skills Is A Barrier",
            "Traditional Views Of Women Are A Barrier",
            "Lack Of ICT Access Is A Barrier",
            "Other Things Are Barriers"]

actions = ['Education ', 
           'Role Models ', 
           'Family Planning ',
           'Maternity Pay And Childcare ', 
           'Access To Banking ',
           'Womens Groups And Charities ', 
           'Other Things ']

In [4]:
x = np.nan

In [5]:
def cleaner(x):
    if type(x) == str:
        try:
            return int(x.replace('%', ''))
        except:
            return x
    elif type(x) == float:
        return x
    else:
        return x

In [6]:
df_clean = df.applymap(cleaner)

In [7]:
df_region = df_clean.groupby('Region').mean()
df_region.columns = [x.replace('Help Women', '').replace('Helps Women', '') for x in df_region.columns.values]
df_region['Region'] = df_region.index
df_region = df_region.round(2)

In [8]:
df_income = df_clean.groupby('Income Level').mean()
df_income.columns = [x.replace('Help Women', '').replace('Helps Women', '') for x in df_income.columns.values]
df_income['Income Level'] = df_income.index
df_income = df_income.round(2)

In [13]:
df_region_barriers = df_region[barriers].transpose()
df_region_barriers['Barriers'] = df_region_barriers.index
df_region_barriers.to_csv('clean_data/ureport_region_barriers.csv', index=False)

df_region_actions = df_region[actions].transpose()
df_region_actions['Actions'] = df_region_actions.index
df_region_actions.to_csv('clean_data/ureport_region_actions.csv', index=False)

df_income_barriers = df_income[barriers].transpose()
df_income_barriers['Barriers'] = df_income_barriers.index
df_income_barriers.to_csv('clean_data/ureport_income_barriers.csv', index=False)

df_income_actions = df_income[actions].transpose()
df_income_actions['Actions'] = df_income_actions.index
df_income_actions.to_csv('clean_data/ureport_income_actions.csv', index=False)

In [14]:
df_income_actions

Income Level,High,Low,Middle,Very High,Actions
Education,28.0,50.2,47.0,37.0,Education
Role Models,5.0,11.0,12.4,13.0,Role Models
Family Planning,5.0,9.2,10.9,10.0,Family Planning
Maternity Pay And Childcare,16.0,6.0,12.4,27.0,Maternity Pay And Childcare
Access To Banking,29.0,8.5,2.6,0.0,Access To Banking
Womens Groups And Charities,9.0,11.0,9.6,3.0,Womens Groups And Charities
Other Things,8.0,3.5,4.3,10.0,Other Things

In [22]:
df_income_actions[['Low', 'Actions']].to_csv('clean_data/ureport_income_actions_low.csv', index=False)

In [24]:
df_region_actions

Region,Asia,Central America,Eastern Europe and central Asia,Europe,Latin America and the Caribbean,South East Asia,Sub-Saharan Africa,Actions
Education,58.0,28.0,30.0,37.0,37.0,47.0,51.1,Education
Role Models,11.0,5.0,17.0,13.0,12.0,4.0,12.4,Role Models
Family Planning,11.0,5.0,12.0,10.0,16.0,4.0,10.0,Family Planning
Maternity Pay And Childcare,7.0,16.0,20.0,27.0,16.0,22.0,6.6,Maternity Pay And Childcare
Access To Banking,3.0,29.0,1.0,0.0,3.0,2.0,6.1,Access To Banking
Womens Groups And Charities,5.0,9.0,11.0,3.0,15.0,12.0,9.7,Womens Groups And Charities
Other Things,5.0,8.0,6.0,10.0,1.0,6.0,3.7,Other Things

In [27]:
df_region_actions[['Latin America and the Caribbean', 'Actions']].to_csv('clean_data/ureport_region_actions_la.csv', index=False)

In [35]:
df_region_barriers[['Europe', 'Barriers']].to_csv('clean_data/ureport_region_barriers_europe.csv', index=False)